.card {
    font-size: xx-large;
    border: 2px solid black;
    border-radius: 5px;
    height: 7rem;
    width: 7rem;
    justify-content: center;
    align-items: center;
    
}

.card:hover {
    border: 2px ridge red;
    box-shadow: 2px red;
}